body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.container {
  background-color: #dddddd;
  max-width: 1200px;
  margin: 50px auto; /* Adjust margin-top and margin-bottom to center vertically */
  padding: 20px 40px; /* Adjust padding to the left and right */
  border-radius: 8.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.text-input {
  display: block;
  font-family: Arial, sans-serif;
  text-align: left;
  width: 95%;
  max-width: 1100px;
  margin: auto;
  padding: 15px;
  color: #494949;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  background-color: #cacaca;
  border-radius: 8.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 1px solid #cacaca;
  height: 400px; /* Adjust the height as needed */
}
.author-title {
  display: flex;
  flex-direction: row; /* Ensure elements are aligned horizontally */
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.author-title .text-wrapper {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #535353;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-right: 10px; /* Adjust margin as needed */
}

.author-title .paste-title {
  flex: 1; /* Allow elements to grow and shrink */
  max-width: 700px; /* Adjust max-width as needed */
  padding: 15px;
  color: #494949;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  background-color: #cacaca;
  border-radius: 8.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 1px solid #cacaca;
  margin-right: 10px; /* Adjust margin as needed */
}

.author-title .author {
  flex: 1; /* Allow elements to grow and shrink */
  max-width: 300px; /* Adjust max-width as needed */
  padding: 15px;
  text-align: center;
  color: #494949;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  background-color: #cacaca;
  border-radius: 8.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 1px solid #cacaca;
  margin-right: 10px; /* Adjust margin as needed */
}

.text-input {
  display: block;
  font-family: Arial, sans-serif;
  text-align: left;
  width: 95%;
  max-width: 1100px;
  margin: auto;
  padding: 15px;
  color: #494949;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  background-color: #cacaca;
  border-radius: 8.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 1px solid #cacaca;
  height: 400px; /* Adjust the height as needed */
}

h1 {
  color: #333;
  text-align: center;
}

p {
  color: #666;
  line-height: 1.6;
}

.home-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  z-index: 1001;
}

.home-icon img {
  width: 38px;
  height: 38px;
  transition: transform 0.3s ease-out;
}

.home-icon:hover img {
  transform: scale(1.2);
}

.home-icon::before {
  position: absolute;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.330), 0 17px 50px 0 rgba(0, 0, 0, 0.25);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.4s;
  font-family: "Roboto", "Segoe UI", Tahoma, sans-serif;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  background-color: #4d4d4d;
  border-radius: 5px;
}

.home-icon:hover::before {
  opacity: 1;
}

.help-icon {
  position: absolute;
  top: 25px;
  left: 80px;
  cursor: pointer;
  z-index: 1001;
}

.help-icon img {
  width: 38px;
  height: 38px;
  transition: transform 0.3s ease-out;
}

.help-icon:hover img {
  transform: scale(1.2);
}

.help-icon::before {
  position: absolute;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.330), 0 17px 50px 0 rgba(0, 0, 0, 0.25);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.4s;
  font-family: "Roboto", "Segoe UI", Tahoma, sans-serif;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  background-color: #4d4d4d;
  border-radius: 5px;
}

.help-icon:hover::before {
  opacity: 1;
}

.switch {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 1001;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-lable {
  background-color: transparent;
  color: transparent;
  visibility: hidden;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}